@tailwind base;
@tailwind components;
@tailwind utilities;

html,
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

@layer utilities {
    .header {
        @apply bg-blue-500 px-10 py-5 fixed w-full text-white text-lg font-semibold z-10
    }

    .body-wrapper {
        @apply px-10 pt-20
    }
}